
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>Sales</h5>
    <a href="/salesReport" class="btn btn-success">Link</a>
    <form action="/salesReport" method="get">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="">January</option>
            <option value="2">Feburary</option>
            <option value="3">March</option>
            <option value="3">April</option>
            <option value="3">May</option>
            <option value="3">June</option>
            <option value="3">July</option>
            <option value="3">August</option>
            <option value="3">September</option>
            <option value="3">October</option>
            <option value="3">November</option>
            <option value="3">December</option>
      </select>
    </form>
</body>
</html>